/* Global Styles */
html,
body {
  overflow: hidden; /* Prevent scrolling */
  height: 100%; /* Ensure the height is fully constrained */
  margin: 0;
  padding: 0;
}

/* Mini Projects Section */
.miniProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    300deg,
    #d52d00,
    #ef7627,
    #ff9a56,
    #d162a4,
    #b55690,
    #a30262
  );
  background-size: 360% 360%;
  animation: gradient-animation 36s ease infinite;
}

.miniProjects .project {
  text-align: center;
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 1px black;
  height: 200px;
  width: 300px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Specific project backgrounds */
.flashlight {
  background-image: url(../public/images/flashlight.jpg);
}
.game {
  background-image: url(../public/images/game.jpg);
}
.robots {
  background-image: url(../public/images/robots.jpg);
}

/* Hide class to toggle visibility */
.hide {
  display: none;
}

/* Responsive design for small screens */
@media only screen and (max-width: 400px) {
  .miniProjects .project {
    width: 80%;
    height: 20%;
  }
}

/* Gradient background animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Flashlight Project Styles */
.flashlightProject {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  overflow: hidden; /* Prevent scrolling */
}

.flashlightProject * {
  z-index: 20;
  color: rgba(0, 0, 0, 1);
  user-select: none; /* Disable text selection */
  -webkit-touch-callout: none; /* Disable callout on iOS */
}

/* Light element in Flashlight Project */
#light {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 20%
  );
  box-shadow: 0 0 50px 75px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

/* Light-off state for the light element */
.light-off {
  box-shadow: inset 0 0 150px 250px #000 !important;
}

/* Text Styles */
.text {
  /* color: white; */
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .text {
    font-size: 13px;
  }
}
